/* -------------------------- */
/* Grid */
/* -------------------------- */

.intro-effect-grid:not(.notrans) .grid li:nth-child(5) {
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.intro-effect-grid:not(.notrans) .header p  {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.intro-effect-grid:not(.notrans) .bg-img,
.intro-effect-grid:not(.notrans) .title {
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

.intro-effect-grid:not(.notrans) .header h1,
.intro-effect-grid:not(.notrans) .codrops-demos a {
    -webkit-transition-property: color;
    transition-property: color;
}

.intro-effect-grid:not(.notrans) .grid li:nth-child(5),
.intro-effect-grid:not(.notrans) .bg-img,
.intro-effect-grid:not(.notrans) .title,
.intro-effect-grid:not(.notrans) .header h1,
.intro-effect-grid:not(.notrans) .header p,
.intro-effect-grid:not(.notrans) .codrops-demos a {
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.intro-effect-grid .codrops-demos a {
    color: #fff;
}

.intro-effect-grid.modify .codrops-demos a {
    color: #cf7000;
}

.intro-effect-grid .codrops-demos a.current-demo {
    border-bottom: 3px solid #fff;
}

.intro-effect-grid.modify .codrops-demos a.current-demo {
    border-color: #cf7000;
}

.intro-effect-grid .title {
    max-width: 900px;
    padding-top: 2em;
}

.intro-effect-grid.modify .title {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}

.intro-effect-grid .content > div {
    margin-top: 40px;
    color: #2e3337;
}

.intro-effect-grid .header h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    padding: 0 0 0.6em;
}

.intro-effect-grid.modify .header h1 {
    color: #2d3b44;
}

.intro-effect-grid .header p {
    opacity: 0;
    color: #4c6270;
}

.intro-effect-grid .header p.subline {
    font-size: 1.5em;
}

.intro-effect-grid.modify .header p {
    opacity: 1;
}

.intro-effect-grid .grid {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 0;
}

.intro-effect-grid .grid li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(71,63,59,0.5);
    pointer-events: none;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.intro-effect-grid.modify .grid li:hover::after,
.intro-effect-grid.modify .grid li:nth-child(5)::after {
    background: rgba(71,63,59,0.1);
}

.intro-effect-grid .grid li {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.intro-effect-grid .grid li h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    padding-bottom: 0.4em;
    margin: 1em;
    color: #fff;
    line-height: 1;
    font-size: 1em;
    position: absolute;
    bottom: 0;
    z-index: 100;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.intro-effect-grid .grid li:hover h2 {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.intro-effect-grid .grid li:first-child {
    top: 0;
    left: 0;
    height: 50%;
    width: 25%;
    background-image: url(../img/thumbs/1.jpg);
}

.intro-effect-grid .grid li:nth-child(2) {
    top: 50%;
    left: 0;
    height: 50%;
    width: 25%;
    background-image: url(../img/thumbs/2.jpg);
}

.intro-effect-grid .grid li:nth-child(3) {
    top: 0;
    left: 25%;
    height: 100%;
    width: 25%;
    background-image: url(../img/thumbs/5.jpg);
}

.intro-effect-grid .grid li:nth-child(4) {
    top: 0;
    left: 50%;
    height: 50%;
    width: 50%;
    background-image: url(../img/thumbs/4.jpg);
}

.intro-effect-grid .grid li:nth-child(5) {
    top: 50%;
    left: 50%;
    height: 50%;
    width: 25%;
    background-image: url(../img/thumbs/8.jpg);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}

.intro-effect-grid.modify .grid li:nth-child(5) {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.intro-effect-grid .grid li:nth-child(5) h2 {
    color: #de8721;
}

.intro-effect-grid .grid li:nth-child(6) {
    top: 50%;
    left: 75%;
    height: 50%;
    width: 25%;
    background-image: url(../img/thumbs/6.jpg);
}

.intro-effect-grid.modify .bg-img {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}